* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    --brand-color: rgb(52, 120, 246);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 101vh;
    background-color: #ffffff;
}

.logo {
    height: 150px;
    width: 150px;
    background-image: url(../resources/logo.svg);
    background-size: 200%;
    background-position: center;
    margin-bottom: 24px;
    margin-top: 24px;
}

.container {
    width: min(408px,100vw - 24px);
    padding: 36px;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    background-color: #ffffff;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 21px;
}

.info {
    margin-bottom: 21px;
    color: #333333;
    font-size: 14px;
    text-align: center;
}

.input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 21px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}

.terms-text {
    margin-bottom: 21px;
    font-size: 14px;
    color: #333333;
    text-align: center;
}

.terms-text a {
    color: var(--brand-color);
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: var(--brand-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.btn-extra {
    margin-bottom: 21px;
}

.links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.links-container a {
    color: var(--brand-color);
    text-decoration: none;
    font-size: 14px;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #888;
    font-size: 14px;
}

.footer {
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 10px;
}

.footer a {
    color: var(--brand-color);
    text-decoration: none;
}

.code-container {
    display: flex;
    gap: 10px;
    margin-bottom: 21px;
}

.code-input {
    flex: 1;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}

.send-code-btn {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    padding: 0 15px;
    white-space: nowrap;
}

.back-link {
    display: block;
    text-align: center;
    color: var(--brand-color);
    text-decoration: none;
    font-size: 14px;
}